@model User
@{
    string strTitle = "Личный кабинет";
    ViewBag.Title = strTitle;
}

<div>
    <h2>@strTitle</h2>
       <div>
            <h3>Ваши цели,@Model.UserName</h3>
            <div class="div-box">
                    <a class="btn btn-primary" asp-area="User" asp-controller="Goals" asp-action="Edit" asp-route-id="">
                        Добавить задачу
                    </a>
            </div>
            </br>
                @if (Model.Goals!=null)
                 {
       <div class="col-12">
                       @foreach (Goal entity in Model.Goals)
                       {
                          
                           @if (entity.Category == "Каждый день")
                           {
                               <form class="p-2 form-group border border-light rounded bg-warning col-4 " style="display: inline-block;">
                                   @await Html.PartialAsync("GoalViewParticial", entity)
                               </form>
                           }
                           else if (entity.Category == "Общее")
                           {
                               <form class="p-2 form-group border border-light rounded bg-dark col-4 " style="display: inline-block;">
                                   @await Html.PartialAsync("GoalViewParticial", entity)
                               </form>
                           }
                           else if (entity.Category == "Дедлайн")
                           {
                               <form class="p-2 form-group border border-light rounded bg-danger col-4 " style="display: inline-block;">
                                   @await Html.PartialAsync("GoalViewParticial", entity)
                               </form>
                           }
                           else if (entity.Category == "Дела на сегодня")
                           {
                               <form class="p-2 form-group border border-light rounded bg-info col-4 " style="display: inline-block;">
                                   @await Html.PartialAsync("GoalViewParticial", entity)
                               </form>
                           }

                           
      }
       </div>
                 }
       </div>

      
</div>


